In [ ]:
from selenium import webdriver
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
cd = "C:\\Users\\Manas\\Desktop\\chromedriver.exe"
driver = webdriver.Chrome(cd)
url = "https://www.mohfw.gov.in/"
driver.get(url)
time.sleep(10)
button = driver.find_element_by_xpath('//*[@id="state-data"]/div/div/div/h2/a')
button.click()

In [98]:
   
column_name = ['Seral_no', 'Name_of_State/UT', 'Active Cases', 'AC_Change','Cured','Cured_Change','Deaths', 'Death_Change']
df = pd.DataFrame(columns=column_name)

for i in range(1,36):
    d={}
    for j in range(1,9):
        w=driver.find_element_by_xpath('//*[@id="state-data"]/div/div/div/div/table/tbody/tr['+str(i)+']/td['+str(j)+']')
        d[df.columns[j-1]]=w.text
    df=df.append(d,ignore_index=True) 

df.to_csv(("C:\\Users\\Manas\\covid19.csv"), index = False)
df

,Seral_no,Name_of_State/UT,Active Cases,AC_Change,Cured,Cured_Change,Deaths,Death_Change
0,1,Andaman and Nicobar Islands,79,12,4583,17,61,
1,2,Andhra Pradesh,6924,503,855485,1159,7003,7
2,3,Arunachal Pradesh,778,8,15488,32,54,
3,4,Assam,3519,33,208669,138,983,2
4,5,Bihar,5768,200,228797,481,1274,6
5,6,Chandigarh,1082,4,16279,106,281,3
6,7,Chhattisgarh,19749,416,218195,1205,2919,27
7,8,Dadra and Nagar Haveli and Daman and Diu,16,1,3322,5,2,
8,9,Delhi,30302,1467,538680,5329,9342,82
9,10,Goa,1416,50,46132,64,693,3
10,11,Gujarat,14813,72,193938,1570,4018,14
11,12,Haryana,16673,1071,218443,2646,2488,32
12,13,Himachal Pradesh,7813,405,33370,1027,677,11
13,14,Jammu and Kashmir,4951,43,104471,403,1708,6
14,15,Jharkhand,1907,58,106660,262,971,2
15,16,Karnataka,24169,441,851690,983,11808,16
16,17,Kerala,61587,364,550788,5924,2298,28
17,18,Ladakh,862,69,7642,77,119,
18,19,Madhya Pradesh,14019,416,191618,1838,3287,17
19,20,Maharashtra,89611,557,1695208,3796,47357,111
20,21,Manipur,3162,74,21937,219,291,2
21,22,Meghalaya,686,17,11154,60,114,2
22,23,Mizoram,291,,3584,12,6,
23,24,Nagaland,723,120,10467,165,64,
24,25,Odisha,4439,186,313394,660,1750,6
25,26,Puducherry,432,7,36035,65,612,1
26,27,Punjab,7694,60,140772,518,4842,21
27,28,Rajasthan,26710,1264,243340,3235,2350,19
28,29,Sikkim,300,16,4661,24,111,1
29,30,Tamil Nadu,10999,19,762015,1398,11733,11
30,31,Telengana,8999,267,261028,873,1465,3
31,32,Tripura,552,19,31879,58,372,
32,33,Uttarakhand,4955,8,69578,495,1251,13
33,34,Uttar Pradesh,22797,873,516694,2607,7817,29
34,35,West Bengal,24166,55,457377,3275,8527,51